<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWS Exam Preparation</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="" class="col-md-8 control-label" th:text="${question.question}"></label>
            <div id="answers" class="col-md-8">
                <input name="checkbox1" type="hidden" value="0"/>
                <input name="checkbox2" type="hidden" value="0"/>
                <input name="checkbox3" type="hidden" value="0"/>
                <input name="checkbox4" type="hidden" value="0"/>
                <input name="checkbox5" type="hidden" value="0"/>
                <input name="checkbox6" type="hidden" value="0"/>
                <div class="btn-group-vertical" data-toggle="buttons">
                    <button value="A" type="button" class="btn btn-default" data-checkbox-name="checkbox1" th:text="${question.answers.A}"></button>
                    <button value="B" type="button" class="btn btn-default" data-checkbox-name="checkbox2" th:text="${question.answers.B}"></button>
                    <button value="C" th:if="${question.answers.C != null}" type="button" class="btn btn-default" data-checkbox-name="checkbox3" th:text="${question.answers.C}"></button>
                    <button value="D" th:if="${question.answers.D != null}" type="button" class="btn btn-default" data-checkbox-name="checkbox4" th:text="${question.answers.D}"></button>
                    <button value="E" th:if="${question.answers.E != null}" type="button" class="btn btn-default" data-checkbox-name="checkbox5" th:text="${question.answers.E}"></button>
                    <button value="F" th:if="${question.answers.F != null}" type="button" class="btn btn-default" data-checkbox-name="checkbox6" th:text="${question.answers.F}"></button>
                </div>
            </div>
            <div class="col-md-5">
                <button id='submit' type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-md-5">
                <button id='next' type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $('.btn[data-checkbox-name]').click(function() {
            var selectedCheckboxName = this.getAttribute('data-checkbox-name');
            var selectedInput = $('input['+"name="+selectedCheckboxName+']')
            selectedInput.val($(this).hasClass('focus') ? 0 : 1);
            if($(this).hasClass('focus')) {
                $(this).removeClass('focus');
            }else{
                $(this).addClass('focus');
            }

        });

        $('#submit').click(function(){
            var selectedAnswers = []
            $('div#answers button').forEach(function(entry){
                var checkboxName = entry.getAttribute('data-checkbox-name');

            });
            // get the selected values
            // compare with the correct answer value
            //if all selected display the correct message
            //else display the incorrect try again
        });

        $('#next').click(function(){
            //refresh to get a new question
        });

    </script>
</body>
</html>