<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWS Exam Preparation</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="" class="col-md-8 control-label" th:text="${question.question}"></label>
            <div id="answers" class="col-md-8">
                <div class="checkbox">
                    <label><input type="checkbox" value="A" th:text="${question.answers.A}"></label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="B" th:text="${question.answers.B}"></label>
                </div>
                <div th:if="${question.answers.C != null}" class="checkbox">
                    <label><input type="checkbox" value="C" th:text="${question.answers.C}"></label>
                </div>
                <div th:if="${question.answers.D != null}" class="checkbox">
                    <label><input type="checkbox" value="D" th:text="${question.answers.D}"></label>
                </div>
                <div th:if="${question.answers.E != null}" class="checkbox">
                    <label><input type="checkbox" value="E" th:text="${question.answers.E}"></label>
                </div>
                <div th:if="${question.answers.F != null}" class="checkbox">
                    <label><input type="checkbox" value="F" th:text="${question.answers.F}"></label>
                </div>
            </div>
            <div id="result_panel" class="col-md-10">
                <div class="alert alert-success hidden" role="alert">
                    Correct!
                </div>
                <div class="alert alert-danger hidden" role="alert">
                    Opss! Try again
                </div>
            </div>
            <div class="col-md-5">
                <button id='submit' type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-md-5">
                <button id='next' type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var question = [[${question}]];
    /*]]>*/
        $('#submit').click(function(){
            var selectedAnswers = []
            var checkboxList = $('.checkbox input')
            $.each(checkboxList, function(index, value){
                if($(value).is(':checked')){
                    var selectedValue = $(value).attr('value')
                    selectedAnswers.push(selectedValue)
                }
            });
            $('#result_panel button').addClass('hidden')
            if(question.correctAnswers.sort().toString()==selectedAnswers.sort().toString()) {
                $('#result_panel .alert-success').removeClass('hidden')
            } else{
                $('#result_panel .alert-danger').removeClass('hidden')
            }

        });

        $('#next').click(function(){
            //refresh to get a new question
        });

    </script>
</body>
</html>